article {
  padding: 0 64px 32px !important;
}

.ant-anchor-wrapper {
  display: none;
}

// 选中 article 的兄弟节点
article + div .anticon-clock-circle {
  line-height: inherit;
}

article + div .anticon-clock-circle svg {
  display: none;
}

.anticon svg {
  display: none;
}